@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Serif:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: open-sansa, sans-serif;
    font-weight: 300;
    color: black;
}

/* heading and logo */

h1,
h2 {
    font-family: Toboto-serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #5f7738
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
    margin-top: 10px;
}

/* Hero image */
#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url('../css/images/veg1.png') no-repeat center center;
    height: 400px;
    background-size: 100%;

}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* home content */

#home-content,
#home-content-two,
#home-content-three {
    padding: 20px;
    width: 100%;
    text-align: center;
}

#home-content p {
    text-align: center;
}

/* footer social media */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 30px;
    margin: 1%;
    padding: 5%;
    color: #5f7738
}

/* gallery for product */

.img-circle {
    border-radius: 50%;
}

.img-responsive {
    width: 175px;
    height: 175px;
    padding: 40px 40px;
}

table {
    margin: 0 150px 0
}

/* club ethos */

#club-ethos {
    height: 400px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#veg,
#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 180%;
}

/* veg content picture */
#circle-container {
    width: 300px;
    height: 300px;
    padding: 5px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../css/images/basket.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* form */

.sign-up {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form {
    height: 400px;
    width: 50%;
    margin-right: 30%;
    margin-left: 30%;
    padding: 20px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #2e302a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

.row:after {
    content: "";
    display: tables;
    clear: both;
}