@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Serif:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: open-sansa, sans-serif;
    font-weight: 300;
    color: black;
}

/* heading and logo */

h1,
h2 {
    font-family: Toboto-serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #5f7738;

}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
    margin-top: 10px;
}

#hero-image {
    background: url('../css/images/veg1.png') no-repeat center center;
    height: 400px;
    background-size: 100%;
    width: 100%;
    overflow: hidden;

}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* home content */

#home,
#home-two,
#home-three {
    padding: 20px;
    width: 100%;
    text-align: center;
}

#home-content p {
    text-align: center;
}

/* footer social media */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 30px;
    margin: 1%;
    padding: 5%;
    color: #5f7738
}



/* Product section */

#product {
    height: 400px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-about-heading p {
    text-align: left;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: left;
}

#veg,
#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 180%;
}

/* img gallery */

.img-circle {
    border-radius: 50%;
}

.img-responsive {
    width: 175px;
    height: 175px;
    padding: 40px 40px;
}

table {
    padding-left: 160px;
}

/* img center */

#circle-container {
    width: 300px;
    height: 300px;
    padding: 5px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../css/images/basket.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* form */

#form-left {
    padding-top: 30px;
    width: 45%;
    float: left;
}

.form-left-heading {
    width: 40%;
    float: right;
    line-height: 40px;
    clear: both;
    margin-bottom: 20px;
}


.form-left-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.form-left-heading p {
    text-align: left;
}




/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #3a3a3a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3a3a3a;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

}

/* map */

#map {
    width: 70%;
    float: right;
    line-height: 40px;
    clear: both;
    margin-bottom: 20px;
}