@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Serif:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: open-sansa, sans-serif;
    font-weight: 300;
    color: black;
}

/* heading and logo */

h1,
h2 {
    font-family: Toboto-serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #5f7738
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
    margin-top: 10px;
}

/* Hero image */
#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url('../css/images/veg1.png') no-repeat center center;
    height: 400px;
    background-size: 100%;

}

/* sidebar menu */

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d4d7af;
    overflow: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 0px;
}

/* home content */

#home-content,
#home-content-two,
#home-content-three {
    padding: 20px;
    width: 100%;
    text-align: center;
}

#home-content p {
    text-align: center;
}

/* footer social media */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 30px;
    margin: 1%;
    padding: 5%;
    color: #5f7738
}

/* gallery for product */

.img-circle {
    border-radius: 50%;
}

.img-responsive {
    width: 200px;
    height: 200px;
    padding: 40px 40px;
}

#veg {
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}